root = true

[*]
indent_style = tab
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = false

[*.{json,js,jsx,html,css,scss}]
indent_style = tab
indent_size = 4

[.eslintrc]
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = false
